.splide__pagination {
  width: 90%;
  position: relative;
  margin: 0 auto !important;
  top: -8.97vw;
  flex-wrap: nowrap !important;
}

.splide__pagination li {
  width: 100%;
}

.splide__pagination li button {
  height: 2px;
  width: 100%;
  background-color: #cbcbcb;
  opacity: 0.8;
}

.splide__pagination li .is-active {
  background: #333;
  opacity: 1;
}

.splide__list {
  height: 140vw;
}

@media (width>=640px) {
  .splide__list {
    height: auto;
  }
}
